---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import OffreCard from '../components/OffreCard.astro';
const offres = [
    {
        "adresse": "55 rue des lilas 33000 Bordeaux",
        "favori": false,
        "id": "3apf9i2uyoyinug",
        "nbChambres": 8,
        "nbSdb": 10,
        "nomMaison": "maison du sud",
        "prix": 10000000,
        "surface": 150,
        "imgUrl": "./images/maison_du_sud.jpg"
    },
    {
        "adresse": "31 rue de la vielle lutte 70000 Vesoul",
        "favori": true,
        "id": "9btgdg78b59u6jn",
        "nbChambres": 3,
        "nbSdb": 3,
        "nomMaison": "maison Bambou",
        "prix": 200000,
        "surface": 100,
        "imgUrl": "./images/maison_bambou.jpg"
    },
    {
        "adresse": "18 rue de la Schliffe 25200 MontbéliardN",
        "favori": false,
        "id": "rlt7o9vdv6n78h4",
        "nbChambres": 2,
        "nbSdb": 1,
        "nomMaison": "maison Laura",
        "prix": 12000,
        "surface": 60,
        "imgUrl": "./images/maison_laura.jpg"
    },
	{
        "adresse": "4 place Tharradin BP 71427 25211 Montbéliard cedex",
        "favori": true,
        "id": "88y2w31mbown872",
        "nbChambres": 7,
        "nbSdb": 10,
        "nomMaison": "maison mmi",
        "prix": 500000,
        "surface": 500000,
        "imgUrl": "./images/maison_mmi.JPG"
    },
	{
        "adresse": "23 rue des petits pois 77000 Melun ",
        "favori": false,
        "id": "47lp6llen0kk9pt",
        "nbChambres": 7,
        "nbSdb": 9,
        "nomMaison": "maison blanche",
        "prix": 800000,
        "surface": 350,
        "imgUrl": "./images/image_maison_blanche.jpg"
    }
]	
---
<Layout titre="Les offres">
  <h1>Nos offres</h1>

  <div>
    {
      offres.map((offre) => (
         <div class="offre" data-favori={offre.favori}>
            <!-- Contenu de l'offre -->
            <OffreCard offre={offre} />
        </div>

      ))
    }

<button id="favori-button" class="bg-slate-600 rounded-lg text-white p-2">Afficher les favoris</button>


<script>
    //@ts-nocheck
    const button = document.getElementById('favori-button');
    let showOnlyFavorites = false;

    button?.addEventListener('click', () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll('.offre');

        offres.forEach(offre => {
            const isFavori = offre.dataset.favori === 'true';
            console.log(isFavori);
            if (showOnlyFavorites) {
                offre.style.display = isFavori ? 'block' : 'none';
                button.textContent = 'Afficher tout';
            } else {
                offre.style.display = 'block';
                button.textContent = 'Afficher les favoris';
            }
        });
    });
</script>
</div>
</Layout>