<footer>
    <p>Izya Thiriet</p>
    <nav>
        <a href="/">Accueil</a>
    </nav>
</footer>

<style>
footer {
    background-color: black;
    text-align: center;
}
footer p {
    font-size: 0.9rem;
    color: pink;
    padding-top: 20px;
}
footer nav {
    padding-bottom: 10px;
}
footer nav a {
    color: pink;
    text-decoration: none;
}
</style>